#list {

    .table-header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 250px;
        }

        button, .button {
            padding: 15px 30px;
        }

    }

    .table-body {
        
        .table-footer {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}